{% extends 'base/base.html' %}
{% block content %}


  <div class="card">
      <div class="card-header">
          <i class="fa fa-align-justify"></i>Course List</div>
      <div class="card-body">
          <table class="table table-responsive-sm">
              <thead>
                  <tr>
                
                      <th>Course Name</th>
                      <th>Course Code</th>
                      <th>Lecture Teacher</th>
                      <th>Practical Teacher</th>

                  </tr>
              </thead>
              <tbody>
                  {% for course in object_list %}
                    <tr>
             
                        <td> <a href="{% url 'course-view' course.course_name %}" class="course-link">{{ course.course_name }} </a></td>
                        <td>{{ course.course_code}}</td>
                        <td>{{ course.lecture_teacher }}</td>
                        <td>{{ course.practical_teacher }}</td>
                    

                    </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
  </div>

{% endblock %}
