{% extends 'base.html' %}
<title>Registration - CMS</title>

{% block content %}

<br><br><br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Change Password</h2>
                    <form id="registrationForm" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.old_password.label_tag }}
                            {{ form.old_password }}
                        </div>

                        <div class="form-group">
                            {{ form.new_password1.label_tag }}
                            {{ form.new_password1 }}
                        </div>

                        <div class="form-group">
                            {{ form.new_password2.label_tag }}
                            {{ form.new_password2 }}
                        </div>

                        <button id="registerBtn" class="btn btn-primary btn-block">Update Password</button>
                    </form>
                </div>
                <div class="card-footer text-muted text-center">
                    <a href="{% url 'login' %}" class="btn btn-link">Back to Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

