{% extends 'base/base.html' %}
{% load static %}
{% block title %}GIS-Management System{% endblock %}
{% block content %}

<div class="container">
  <h1>About Our GIS Class Management System</h1>
  <p>Developed by the students of Ardhi University in 2024, our GIS class management system is designed to integrate students together and enhance their learning experience.</p>
  
  <h2>Key Features:</h2>
  <ul>
    <li><strong>Collaborative Learning:</strong> Our system fosters collaboration among students, allowing them to work together on GIS projects and assignments.</li>
    <li><strong>Interactive Tools:</strong> We provide interactive GIS tools that engage students and facilitate hands-on learning.</li>
    <li><strong>Real-World Applications:</strong> Students can explore real-world applications of GIS technology, gaining practical skills applicable to various industries.</li>
    <li><strong>Efficient Communication:</strong> Our platform enables efficient communication between students and instructors, ensuring smooth information exchange.</li>
    <li><strong>Data Sharing:</strong> Students can easily share GIS data and resources with their peers, promoting knowledge sharing and collaboration.</li>
  </ul>
  
  <h2>About Ardhi University:</h2>
  <p>Ardhi University is a leading institution known for its commitment to excellence in education and innovation. Our GIS class management system reflects the university's dedication to providing students with cutting-edge tools and resources to succeed in their academic and professional endeavors.</p>

</div>

{% endblock %}
