{% extends 'base/base.html' %}
{% load static %}
{% block title %}Our Services{% endblock %}
{% block content %}

<div class="container">
  <h1 class="text-center mb-5">Our Services</h1>
  
  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Sharing Materials</h5>
          <p class="card-text">Facilitate seamless sharing of GIS-related materials among students, including lecture notes, project resources, and datasets.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Storage</h5>
          <p class="card-text">Provide secure storage solutions for GIS data, ensuring easy access and organization for students' projects and assignments.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Easy Accessibility</h5>
          <p class="card-text">Offer a user-friendly platform with easy accessibility features, allowing students to navigate, access, and utilize GIS resources effortlessly.</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
